@font-face {
    font-family: customFontLight;
    src: url(static/Roboto-Light.ttf);
}

@font-face {
    font-family: customFontBold;
    src: url(static/Roboto-Bold.ttf);

}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    width: 60vw;
    min-width: 345px;
    height: 100vh;
    background: url(static/image.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: white;
}

.left-side div {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    padding: 0px 2vw;
    height: 150px;
    font-family: customFontBold;
}

.left-side img {
    width: 5rem;
    padding: 10px;
    height: 140px;
}

.credit {
    position: absolute;
    z-index: 2;
    top: 95vh;
    left: 30px;
    font-family: customFontLight;
}

.right-side {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-grow: 2;
    width: 60vw;
    position: relative;
    z-index: 1;
    font-family: customFontLight;

}

.description, .sign-up {
    height: 40vh;
    width: 60vw;
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 30px
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
}

.sign-up {
    padding-top: 30px;
    height: 30vh;

}

.submit {
    height: 60px;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(161, 107, 161);
    color: white;
    font-size: 24px;
    font-family: customFontBold;
}

.form {
    height: 30vh;
    width: 60vw;
    background-color: rgb(161, 107, 161);
}

img {
    height: 100vh;
    width: 700px;

}

form {
    display: flex;
    gap: 50px;
}

.left-form, .right-form {
    display: flex;
    flex-direction: column;
}

.left-form {
    margin-left: 30px;
}
